// 全局变量

// 顶栏高度
$layout-header-height: 50px;

// 顶栏背景
$layout-header-background: #fff;

// 左侧菜单栏宽度
$layout-sidebar-width: 200px;

// 左侧菜单栏背景颜色
$layout-sidebar-background: #fff;

// 做侧边栏logo高度
$layout-sidebar-logo-width: 50px;

// 内容区背景色
$layout-main-background: #F5F7FA;
